/* ------------------------------------------------------------
    Footer 
------------------------------------------------------------*/

footer {
    padding: em(20px);
    background: $secondaryLight;
    text-shadow: $darkShadow;
    color: $overlapText;
}