/* ------------------------------------------------------------
    Footer 
------------------------------------------------------------*/

footer {
    background: $secondaryLight;
    color: #FFF;
    padding: 20px;
}