// Main Content

.slogan {
    font-size: em(25px);
}

.flickr-wrapper {
    @include outer-container;
}

.flikr-content {
    @include span-columns(12);
    height: em(300px);
    overflow: hidden;
    li {
        @include span-columns(12);
        background-size: cover;
        height: em(300px);
        @include media($desktop) {
            @include span-columns(4 of 12, table);
            @include omega();
            //height: em(300px);
        }
    }
}