/* ------------------------------------------------------------
    Main-Content 
------------------------------------------------------------*/

.slogan {
    font-size: em(25px);
}

.flickr-wrapper {
    @include outer-container;
    overflow: hidden;
    max-width: $desktopWidth;
}

.flickr-content {
    @include span-columns(12);
    height: em(340px);
    position: relative;
    li {
        @include span-columns(12);
        @include omega;
        position: absolute;
        left: 0;
        float: none;
        height: em(340px);
        min-width: em(320px);
        max-width: em(640px);
        background-size: cover;
        background-position: center center;
        transition: .3s ease;
    }
}

.description {
    display: none;
}

// Tablet breakpoint

@include media($tablet) {
    .flickr-content {
        @include span-columns(12);
        height: em(340px);
        li {
            @include span-columns(6 of 12, table);
            position: static;
            display: inline-block;
        }
    }
}

// Desktop Breakpoint

@include media($desktop) {
    .flickr-content {
        @include span-columns(12);
        width: 100%;
        overflow: auto;
        li {
            @include span-columns(4 of 12, table);
            @include omega;
            position: static;
            display: inline-block;
        }
        /* overflow-y: scroll; */
    }
    .description {
        display: block;
    }
}