// Media Queries

@media (max-width: 480px) {
    .flikr-content {
        max-height: 400px;
        display: inline;
        white-space: nowrap;
        overflow: scroll;
        li {
            width: 100%;
            background: #CCC;
            display: inline-block;
            vertical-align: top;
        }
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .logo {
        background: url(../images/logox2.png);
        background-size: 250px 280px;
    }
}