/* ------------------------------------------------------------
    Media Queries 
------------------------------------------------------------*/

@media (max-width: 680px) {
    .flikr-content {
        max-height: 400px;
        display: inline;
        white-space: nowrap;
        overflow: scroll;
        li {
            width: 100%;
            background: #CCC;
            display: inline-block;
            vertical-align: top;
        }
    }
}
