// Bourbon & Neat
@import "../../bower_components/bourbon/dist/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

// Variables

//$grid-columns: 3;
$max-width:100%;
$gutter: 0;
$mobile: new-breakpoint(max-width 480px 12);
$desktop: new-breakpoint(min-width 480px 12);

$primaryDark: rgba(39, 105, 121, 1);
$primaryLight: rgba(133, 179, 189, 1);
$secondaryDark: rgba(195, 73, 57, 1);
$secondaryLight: rgba(147, 207, 160, 1);

$overlay: rgba(147, 207, 160, 0.9);

$desktopWidth: em(965px);

// Mixins

@mixin fillContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}

@mixin blur($amount) {
    -webkit-filter: blur(#{$amount}px);
    -moz-filter: blur(#{$amount}px);
    -o-filter: blur(#{$amount}px);
    -ms-filter: blur(#{$amount}px);
    filter: blur(#{$amount}px);
    margin-bottom: -#{$amount}px;
}

// Extends


// Styles


body {
    font-family: 'Lato', sans-serif;
    background: #fafafa;
    color: #333;
    font-size: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

a{
    color:$secondaryDark;
    &:hover{
        color:$primaryDark;
    }
}

.wrapper {
    @include outer-container;
    margin: 0 auto;
    max-width: $desktopWidth;
}


.centered {
    text-align: center;
    padding: 20px 10px;
}

.master-container{
    @include outer-container;
}

@import "header";
@import "main-content";
@import "contact";
@import "footer";
//@import "media-queries";


