 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Variables

$primaryDark: rgab(39, 105, 121, 1);
$primaryLight: rgba(133,179,189, 1);
$secondayDark: rgba(195,73,57, 1);
$secondayLight: rgba(235,172,109, 1);

//Fonts

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size:100%;
}

